certifi==2022.12.7
chardet==3.0.4
cloudconvert==1.0.0
idna==2.8
oauthlib==3.1.0
psycopg2-binary==2.8.4
python-dateutil==2.8.0
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
TwitterAPI==2.5.9
urllib3==1.25.6
